* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background-start: #E6E9F0;
  --background-end: #EEF1F5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background-start: #000000;
    --background-end: #000000;
  }
}

body {
  color: rgb(var(--foreground));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end))
    )
    rgb(var(--background-start));
}

.theme-light {
  --tw-bg-opacity: 1;
  background-color: rgb(246 248 250 / var(--tw-bg-opacity));
  color: #232f3e;
}
.theme-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  color: #f1f5f9;
}
.theme-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
  color: #1e3a8a;
}

body.theme-light,
body.theme-dark,
body.theme-blue {
  transition: background 0.3s, color 0.3s;
}
